* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1b1f27; /* Dark mode default */
    color: #61dafb;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.title{
    color: rgb(241, 215, 176);
}
.clock-container {
    background: #293052;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 6px 20px 30px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: shake 0.5s;
}

.clock {
    font-size: 3rem;
    letter-spacing: 2px;
    color: #61dafb; 
    animation: pulse 1s infinite;
}

.date {
    font-size: 1.2rem;
    margin: 10px 0 20px;
    color: #ffd166;
    animation: fadeIn 2s;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffd166;
    border: none;
    border-radius: 5px;
    color: #282c34;
    font-weight: bold;
    transition: 0.3s  color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ffd166;
    transform: translateY(0px) scale(1.05);
}

/* Simple animations */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 600px) {
    .container {
        padding: 20px 10px;
    }
    .clock {
        font-size: 2rem;
    }
    .date {
        font-size: 1rem;
    }
}

/* Light mode styles */
body.light-mode {
    background-color: #f0f0f0;
    color: #242323;
}

body.light-mode .clock-container {
    background-color: rgba(0,0,0,0.05);
}
body.light-mode .clock {
    color: #007acc;
}
body.light-mode .date {
    color: #d2691e;
}
body.light-mode button {
    background-color: #007acc;
    color: #f0f0f0;
}
body.light-mode .title{
    color: #031d2e;
}
